{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Categories</h2>
    <form action="{% url 'categories' %}" method="POST">
        {% csrf_token %}
        {{categories.filterCategory}}
        <button type="submit" class="btn btn-primary my-2">Select category</button>
    </form>
    <hr>

    <div class="container-fluid">
        {% for listing in listings %}
        <div class="row border border-light my-2">
        {% if listing.listingActive == True %}
            <div class="col-3">
                {% if listing.listingImage %}
                    <img class="activeListingPhoto" src="{{ listing.listingImage }}" alt="{{ listing.listingTitle }}">
                {% else %}

                {% endif %}
            </div>
            <div class="col-3 activeListingText">
                <h5><a href="{% url 'listing' listing.id %}">{{ listing.listingTitle }}</a></h5>
                <p><b>Price: $</b> {{ prices|keyvalue:listing.id }}</p> 
                <p>{{ listing.listingDesc }}</p>
                <p>Created: {{ listing.listingCreated }}</p>
            </div>    
            <div class="col-6">
                
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>

{% endblock %}